<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>img</key>
			<string>jy</string>
			<key>name</key>
			<string>皎月</string>
			<key>mobile</key>
			<string>12345664321</string>
			<key>email</key>
			<string>jy@qq.com</string>
			<key>notes</key>
			<string>选择一轮新月正在冉冉升起</string>
		</dict>
		<dict>
			<key>img</key>
			<string>al</string>
			<key>name</key>
			<string>阿狸</string>
			<key>mobile</key>
			<string>12346664321</string>
			<key>email</key>
			<string>al@qq.com</string>
			<key>notes</key>
			<string>想和我玩儿么？可别怪我的尾巴无情哟</string>
		</dict>
		<dict>
			<key>img</key>
			<string>md</string>
			<key>name</key>
			<string>蒙多</string>
			<key>mobile</key>
			<string>12346664321</string>
			<key>email</key>
			<string>md@qq.com</string>
			<key>notes</key>
			<string>蒙多觉得你是个大娘们!</string>
		</dict>
		<dict>
			<key>img</key>
			<string>ax</string>
			<key>name</key>
			<string>艾希</string>
			<key>mobile</key>
			<string>12346664321</string>
			<key>email</key>
			<string>ax@qq.com</string>
			<key>notes</key>
			<string>世间万物皆戏于一箭之上</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>img</key>
			<string>tm</string>
			<key>name</key>
			<string>提莫</string>
			<key>mobile</key>
			<string>12346664321</string>
			<key>email</key>
			<string>tm@qq.com</string>
			<key>notes</key>
			<string>我去前面送送命~</string>
		</dict>
		<dict>
			<key>img</key>
			<string>cstn</string>
			<key>name</key>
			<string>崔丝塔娜</string>
			<key>mobile</key>
			<string>12346664321</string>
			<key>email</key>
			<string>cstn@qq.com</string>
			<key>notes</key>
			<string>你们跌倒了没，崩溃了没？</string>
		</dict>
		<dict>
			<key>img</key>
			<string>an</string>
			<key>name</key>
			<string>安妮</string>
			<key>mobile</key>
			<string>12346664321</string>
			<key>email</key>
			<string>an@qq.com</string>
			<key>notes</key>
			<string>你看见过我的小熊吗？</string>
		</dict>
		<dict>
			<key>img</key>
			<string>amm</string>
			<key>name</key>
			<string>阿木木</string>
			<key>mobile</key>
			<string>12346664321</string>
			<key>email</key>
			<string>amm@qq.com</string>
			<key>notes</key>
			<string>嘿，我知道一个能让我在走路的时候不被绷带绊倒的办法，你们想听吗？</string>
		</dict>
		<dict>
			<key>img</key>
			<string>vn</string>
			<key>name</key>
			<string>VN</string>
			<key>mobile</key>
			<string>12346664321</string>
			<key>email</key>
			<string>vn@qq.com</string>
			<key>notes</key>
			<string>让我们来猎杀那些陷入黑暗中的人吧</string>
		</dict>
		<dict>
			<key>img</key>
			<string>ez</string>
			<key>name</key>
			<string>EZ</string>
			<key>mobile</key>
			<string>12346664321</string>
			<key>email</key>
			<string>ez@qq.com</string>
			<key>notes</key>
			<string>是时候表演真正的技术了</string>
		</dict>
		<dict>
			<key>img</key>
			<string>lks</string>
			<key>name</key>
			<string>拉克丝</string>
			<key>mobile</key>
			<string>12346664321</string>
			<key>email</key>
			<string>lks@qq.com</string>
			<key>notes</key>
			<string>真是个深思熟虑的选择~</string>
		</dict>
		<dict>
			<key>img</key>
			<string>wj</string>
			<key>name</key>
			<string>维迦</string>
			<key>mobile</key>
			<string>12346664321</string>
			<key>email</key>
			<string>wj@qq.com</string>
			<key>notes</key>
			<string>如果我俩角色互换，我会让你看看什么叫残忍！</string>
		</dict>
		<dict>
			<key>img</key>
			<string>fz</string>
			<key>name</key>
			<string>菲兹</string>
			<key>mobile</key>
			<string>12346664321</string>
			<key>email</key>
			<string>fz@qq.com</string>
			<key>notes</key>
			<string>要我吃掉他们</string>
		</dict>
		<dict>
			<key>img</key>
			<string>akl</string>
			<key>name</key>
			<string>阿卡丽</string>
			<key>mobile</key>
			<string>12346664321</string>
			<key>email</key>
			<string>akl@qq.com</string>
			<key>notes</key>
			<string>奉均衡之命</string>
		</dict>
		<dict>
			<key>img</key>
			<string>ll</string>
			<key>name</key>
			<string>露露</string>
			<key>mobile</key>
			<string>12346664321</string>
			<key>email</key>
			<string>ll@qq.com</string>
			<key>notes</key>
			<string>干巴巴的傻笑，恶作剧就生效</string>
		</dict>
		<dict>
			<key>img</key>
			<string>rw</string>
			<key>name</key>
			<string>瑞雯</string>
			<key>mobile</key>
			<string>12346664321</string>
			<key>email</key>
			<string>rw@qq.com</string>
			<key>notes</key>
			<string>断剑重铸之日骑士归来之时</string>
		</dict>
		<dict>
			<key>img</key>
			<string>jj</string>
			<key>name</key>
			<string>剑姬</string>
			<key>mobile</key>
			<string>12346664321</string>
			<key>email</key>
			<string>jj@qq.com</string>
			<key>notes</key>
			<string>我没有对手，我的对手，都死光了</string>
		</dict>
		<dict>
			<key>img</key>
			<string>jks</string>
			<key>name</key>
			<string>贾克斯</string>
			<key>mobile</key>
			<string>12346664321</string>
			<key>email</key>
			<string>jks@qq.com</string>
			<key>notes</key>
			<string>一个能打的都没有！</string>
		</dict>
		<dict>
			<key>img</key>
			<string>ktl</string>
			<key>name</key>
			<string>凯特琳</string>
			<key>mobile</key>
			<string>12346664321</string>
			<key>email</key>
			<string>ktl@qq.com</string>
			<key>notes</key>
			<string>坏人总是太多，时间却又太少。。</string>
		</dict>
		<dict>
			<key>img</key>
			<string>gl</string>
			<key>name</key>
			<string>盖伦</string>
			<key>mobile</key>
			<string>12346664321</string>
			<key>email</key>
			<string>gl@qq.com</string>
			<key>notes</key>
			<string>人在塔在</string>
		</dict>
		<dict>
			<key>img</key>
			<string>ps</string>
			<key>name</key>
			<string>潘森</string>
			<key>mobile</key>
			<string>12346664321</string>
			<key>email</key>
			<string>ps@qq.com</string>
			<key>notes</key>
			<string>能死在我的脚下是上天给予你的恩赐。</string>
		</dict>
		<dict>
			<key>img</key>
			<string>nss</string>
			<key>name</key>
			<string>内瑟斯</string>
			<key>mobile</key>
			<string>12346664321</string>
			<key>email</key>
			<string>nss@qq.com</string>
			<key>notes</key>
			<string>生与死轮回不止，我们生他们死</string>
		</dict>
	</array>
</array>
</plist>
